<div class="p-4">
  <h4 class="fst-italic">Archives</h4>
  <ol class="list-unstyled mb-0">
    <% @archives.each do |month_year, valor| %>
      <li>
        <%= link_to "#{month_year} (#{valor})", articles_path(month_year: month_year), 
        class: "link #{'fw-bold' if month_year == params[:month_year]}" %>
      </li>
    <%end%>
  </ol>
</div>
