<% content_for :title, "Categories" %>
<h1>Categories</h1>
<%= link_to "New category", new_category_path, class: "btn btn-primary" if policy(:category).new? %>
<br>
<br>
<div id="categories">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
</div>